{% extends 'base.html' %}

{% block content %}

<head> Matched Searches </head>

<style>

	table {
	    border-collapse: collapse;
	}

	.sSearch{
	    border: 1px solid black;
	}
</style>

<table id="search_matches">
	<tbody>
		<tr>
			<th class="sSearch">
				Time stamp
			</th>

			<th class="Search">
				Tags
			</th>

			<th class="sSearch">
				Description
			</th>

			<th class="sSearch">
				Title
			</th>
			<!-- An empty tag because CSS fails to render table border if it has a text -->
			<th class="sSearch">
				
			</th>
			
			<th class="sSearch">
				User
			</th>

			<th class="sSearch">
				Public &#63;	
			</th>
	
		</tr>

		<p>
		{% for var in matches %}
			
			<p>
				<tr>
					<td class="sSearch">{{ var.timestamp }}</td>

					<td class="sSearch"> {{ var.tags }} </td>

					<td class="sSearch">{{ var.description }}</td>

					<td class="sSearch">{{ var.title }}</td>

					<!-- An empty tag because CSS fails to render table border if it has a text -->

					<td class="sSearch"> </td>

					<td class="sSearch"> {{ var.user.username }} </td>

					<td class="sSearch">{{ var.isPublic }}</td>

				</tr>
			</p>
			
		{% endfor %}
		</p>
	</tbody>
</table>
{% endblock %}