{% extends 'base.html' %}

{% block content %}

<head> Matched Searches </head>
<table id="search_matches">
	<tbody>
		<tr>
			<th class="sSearch">
				Time stamp
			</th>
			<th class="sSearch">
				Description
			</th>
			<th class="sSearch">
				Title
			</th>
			<th class="sSearch">
				Public &#63;
			</th>
			<th class="Search">
				Tags
			</th>
	
		</tr>
		{% for var in matches %}
			
			<p>
				<tr>
					<td class="sSearch">{{ var.timestamp }}</td>

					<td class="sSearch">{{ var.description }}</td>

					<td class="sSearch">{{ var.title }}</td>

					<td class="sSearch">{{ var.isPublic }}</td>

					<td class="sSearch"> {{ var.tags }} </td>
				</tr>
			</p>
			
		{% endfor %}

	</tbody>
</table>
{% endblock %}